{% extends 'base1.html' %}

{%block content%}
{% load staticfiles%}
<center>
    <h2>Tifins</h2>
    <table>
<tr>
<td>
        <div class="VEG"  >
                <br>
              
                <img src="{% static 'idly.jpg' %}" height="200" width="400">
                <h3>Idly</h3>
                <h4>PRICE:50 RS</h4>
                <form action="Login_view">
                    <input type="submit" value="Order Now">
                </form>
           
            </div>
</td>
<td>
        <div class="VEG2"  >
                <br>
              
                <img src="{% static 'd1.jpg' %}" height="200" width="400">
                <h3>Dosa</h3>
                <h4>PRICE:50 RS</h4>
                <form action="Login_view">
                    <input type="submit" value="Order Now">
                </form>
           
            </div>
</td>


</tr>
<tr>

        <td>
                <div class="VEG2"  >
                        <br>
                      
                        <img src="{% static 'g1.jpg' %}" height="200" width="400">
                        <h3>Chapati </h3>
                        <h4>PRICE:80 RS</h4>
                        <form action="Login_view">
                            <input type="submit" value="Order Now">
                        </form>
                   
                    </div>
        </td>

</tr>


    </table>

    
        
        </center>


{%endblock%}